<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>471228194530-6fe2117n59v5f4gemackfjn90hvuv7it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.471228194530-6fe2117n59v5f4gemackfjn90hvuv7it</string>
	<key>API_KEY</key>
	<string>AIzaSyDnmkH2tiHM0vXasy-qj11HVXmNTQ7QAqY</string>
	<key>GCM_SENDER_ID</key>
	<string>471228194530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ImranRazak.BlueBird</string>
	<key>PROJECT_ID</key>
	<string>bluebird-85332</string>
	<key>STORAGE_BUCKET</key>
	<string>bluebird-85332.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471228194530:ios:366bc36d0efaf26e0288bb</string>
</dict>
</plist>